<!Doctype html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" , href="./css/styles.css">
</head>

<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by Dimo. It uses data from different APIs</p>
    <img class="portrait" src="img/me.jpeg">
</div>
{{>footer}}
</body>

</html>
